<div class = "bod" >
  
  <h1>welcome to <i class="fa-solid fa-book"></i>Bookers !!</h1>

<p>In <i class="fa-solid fa-book"></i>Bookers,</p>
<p>you can share and exchange your opinions , inpressions , and emotions</p>
<p>about various books!</p>


<div class="d-grid gap-2 col-6 mx-auto">
  <p>
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-info" %>
  </p>

  <p>
    <%= link_to "Log in", new_user_session_path, class: "btn btn-success" %>
  </p>
</div>
</div>
